# secrets.env
# --------------------------------------------------
# Fill in the values below to customize setup.
# To prepare your setup, use:
# cp secrets.env.example secrets.env
# --------------------------------------------------

# setup_system.sh
INTERFACE=em0
STATIC_IP=192.0.2.10
NETMASK=255.255.255.0
GATEWAY=192.0.2.1
DNS1=1.1.1.1
DNS2=9.9.9.9
ADMIN_USER=admin

# setup_obsidian_git.sh
OBS_USER=obsidian
GIT_USER=git
VAULT=vault

# setup_github.sh
LOCAL_DIR=/home/admin/example
GITHUB_REPO=git@github.com:example/example.git
